<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf app</title>
</head>
<body>
<h1>Contact List</h1>
<a th:href="@{/createContact}">Create</a>
<div>
    <table style="border: 1px solid black" >
    <thead>
    <tr style="border: 1px solid black">
        <th>Name</th>
        <th>Last Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>*</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="contact: ${contacts}" style="border: 1px solid black">
        <td th:text="${contact.name}">Name</td>
        <td th:text="${contact.lastname}">Last Name</td>
        <td th:text="${contact.description}">Blabla</td>
        <td th:switch="${contact.status.name()}">
            <span th:case="'ACTIVE'" th:text="Active"></span>
            <span th:case="'DISABLED'" th:text="Disabled"></span>
            <span th:case="'DELETED'" th:text="Deleted"></span>
        </td>
        <td>
            <a th:href="@{/view(id=${contact.id})}">View</a>
        </td>
    </tr>
    </tbody>
    </table>

</div>

</body>
</html>